@import 'src/assets/styles/variables/breakpoints';
@import 'src/assets/styles/variables/typography';
@import 'src/assets/styles/mixins/font-scale';

$Z-INDEX-POPUP: 10;

@mixin arrow-color($arrowColor) {
  .arrow {
    svg path {
      fill: $arrowColor;
    }
  }
}

.container {
  position: relative;
  display: inline-block;
  width: 100%;

  &.default-width {
    width: 240px;
  }
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.arrow {
  display: inline-flex;
  margin-left: 12px;
  transition: transform 200ms linear;
}

.dropdown {
  display: flex;
  align-items: center;
  text-align: start;
  padding: 9px 12px 7px;
  width: 100%;
  height: 36px;
  border: 1px solid var(--rp-ui-kit-color-field-border);
  border-radius: 3px;
  background-color: var(--rp-ui-kit-color-field-bg);
  box-sizing: border-box;
  transition: border-color 200ms linear;
  cursor: pointer;

  &.transparent-background {
    background-color: transparent;
  }

  &.disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &.error.touched {
    border-width: 1px;
    border-color: var(--rp-ui-kit-color-error);
  }

  &:hover:not(:active):not(:focus-visible):not(.opened):not(.error) {
    border-color: var(--rp-ui-kit-color-field-hover);

    @include arrow-color(var(--rp-ui-kit-color-field-hover-2));
  }

  &:active,
  &:focus-visible {
    padding: 7px 11px;
    border-width: 2px;
    border-color: var(--rp-ui-kit-color-primary-focused);
    outline: none;

    @include arrow-color(var(--rp-ui-kit-color-field-hover-2));
  }

  &.opened {
    &:not(:active):not(.error) {
      border-width: 1px;
      border-color: var(--rp-ui-kit-color-primary-pressed);

      @include arrow-color(var(--rp-ui-kit-color-field-opened));
    }

    .arrow {
      transform: rotate(180deg);
    }
  }

  .placeholder {
    color: var(--rp-ui-kit-color-field-placeholder);
  }

  .value {
    flex-grow: 1;
    font-family: var(--rp-ui-kit-font-family-base);
    font-weight: $fw-regular;
    @include font-scale();
    color: var(--rp-ui-kit-color-text-3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .mobile-disabled {
    @media (max-width: $SCREEN_XS_MAX) {
      background-color: var(--rp-ui-kit-color-field-bg-2);
    }
  }
}

.select-list {
  position: absolute;
  top: 0;
  margin-top: 5px;
  padding: 8px 0;
  display: none;
  width: 100%;
  min-height: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  z-index: $Z-INDEX-POPUP;
  box-shadow: var(--rp-ui-kit-shadow-secondary);
  background: var(--rp-ui-kit-color-field-bg);

  &.opened {
    display: block;
    &:focus-visible {
      outline: none;
    }
  }
}

.ghost {
  border-color: transparent;
  background: transparent;

  &:hover:not(:active):not(:focus-visible):not(.opened):not(.error) {
    border-color: transparent;

    @include arrow-color(var(--rp-ui-kit-color-field-hover-2));
  }

  &.opened {
    &:not(:active):not(.error) {
      border-color: transparent;
    }

    .value {
      color: var(--rp-ui-kit-color-primary-pressed);
    }
  }
}
