@import "src/styles/variables/typography";

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 36px;
    padding: 9px 16px 7px;
    margin: 0;
    outline: none;
    border-radius: 3px;
    font-family: var(--font-family-base);
    font-weight: $fw-medium;
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    box-sizing: border-box;
}

.topaz {
    border: 1px solid var(--rp-ui-kit-color-primary);
    background-color: var(--rp-ui-kit-color-primary);
    color: var(--bg-000);
    &:hover:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-hover);
        background-color: var(--rp-ui-kit-color-primary-hover);
    }
    &:active:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-pressed);
        background-color: var(--rp-ui-kit-color-primary-pressed);
    }
    &:focus:not(.disabled, :active) {
        border: 2px solid var(--rp-ui-kit-color-primary-focused);
    }
}

.ghost {
    border: 1px solid var(--rp-ui-kit-color-primary);
    background-color: transparent;
    color: var(--almost-black);
    &:hover:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-hover);
    }
    &:active:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-pressed);
    }
    &:focus:not(.disabled, :active) {
        border: 2px solid var(--rp-ui-kit-color-primary-focused);
    }
}

.danger {
    border: 1px solid var(--red-failed-2);
    background-color: var(--red-failed-2);
    color: var(--bg-000);
    &:hover:not(.disabled) {
        opacity: 0.9;
    }
    &:active:not(.disabled) {
        border: 1px solid var(--red-pressed);
        background-color: var(--red-pressed);
    }
    &:focus:not(.disabled, :active) {
        border: 2px solid var(--red-focused);
    }
}

.text {
    min-width: auto;
    height: auto;
    border: 0;
    padding: 0;
    background: none;
    color: var(--rp-ui-kit-color-primary);
    line-height: 22px;
    &:hover:not(.disabled) {
        color: var(--rp-ui-kit-color-primary-hover);
        svg * {
            fill: var(--rp-ui-kit-color-primary-hover);
        }
    }
    &:active:not(.disabled) {
        color: var(--rp-ui-kit-color-primary-pressed);
        svg * {
            fill: var(--rp-ui-kit-color-primary-pressed);
        }
    }
    &:focus:not(.disabled, :active) {
        color: var(--rp-ui-kit-color-primary-focused);
        svg * {
            fill: var(--rp-ui-kit-color-primary-focused);
        }
    }
    svg * {
        fill: var(--rp-ui-kit-color-primary);
    }
}

.dark-topaz {
    border: 1px solid var(--rp-ui-kit-color-primary);
    background-color: var(--rp-ui-kit-color-primary);
    color: var(--bg-000);
    &:hover:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-hover);
        background-color: var(--rp-ui-kit-color-primary-hover);
    }
    &:active:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-pressed);
        background-color: var(--rp-ui-kit-color-primary-pressed);
    }
    &:focus:not(.disabled, :active) {
        border: 2px solid var(--rp-ui-kit-color-primary-focused);
    }
}

.dark-ghost {
    border: 1px solid var(--rp-ui-kit-color-primary);
    background-color: transparent;
    color: var(--darkmode-gray-50);
    &:hover:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-hover);
    }
    &:active:not(.disabled) {
        border: 1px solid var(--rp-ui-kit-color-primary-pressed);
    }
    &:focus:not(.disabled, :active) {
        border: 2px solid var(--rp-ui-kit-color-primary-focused);
    }
}

.dark-text {
    min-width: auto;
    height: auto;
    border: 0;
    padding: 0;
    background: none;
    line-height: 22px;
    color: var(--darkmode-topaz-text);
    &:hover:not(.disabled) {
        color: var(--rp-ui-kit-color-primary-hover);
        svg * {
            fill: var(--rp-ui-kit-color-primary-hover);
        }
    }
    &:active:not(.disabled) {
        color: var(--rp-ui-kit-color-primary-pressed);
        svg * {
            fill: var(--rp-ui-kit-color-primary-pressed);
        }
    }
    &:focus:not(.disabled, :active) {
        color: var(--rp-ui-kit-color-primary-focused);
        svg * {
            fill: var(--rp-ui-kit-color-primary-focused);
        }
    }
    svg * {
        fill: var(--darkmode-topaz-text);
    }
}

.wide {
    padding: 9px 47px 7px;
    margin: 0;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
}

.icon-start {
    margin: auto 8px auto 0;
}
.icon-end {
    margin: auto 0 auto 8px;
    order: 1;
}

.disabled:not(.dark-topaz, .dark-ghost, .dark-text) {
    opacity: 0.3;
    cursor: default;
}

.disabled:not(.topaz, .ghost, .text) {
    opacity: 0.5;
    cursor: default;
}
