.rp-ui-kit-theme-light {
  --rp-ui-kit-color-primary: var(--topaz-2);
  --rp-ui-kit-color-primary-hover: var(--topaz-hover);
  --rp-ui-kit-color-primary-focused: var(--topaz-focused);
  --rp-ui-kit-color-primary-pressed: var(--topaz-pressed);

  --rp-ui-kit-color-text: var(--almost-black);
}
