@import 'src/assets/styles/variables/typography';
@import 'src/assets/styles/mixins/font-scale';

// TODO: Discuss with UX team. There are no designs for the dark theme, so the theme-independent CSS properties are used

@mixin message-headers($color) {
  @include font-scale(x2-medium);
  font-weight: $fw-medium;
  color: $color;
  text-transform: capitalize;
  margin-bottom: 8px;
}

@mixin stripe-shape($color--line1, $color--line2) {
  height: 8px;
  border-radius: 8px 8px 0 0;
  background-image: repeating-linear-gradient(
      45deg,
      $color--line1,
      $color--line1 24px,
      $color--line2 24px,
      $color--line2 48px
  );
}

.system-message {
  min-height: 85px;
  height: auto;
  width: 100%;
  background: var(--rp-ui-kit-bg-000);
  border-radius: 8px;
  box-shadow: var(--rp-ui-kit-shadow);
  display: flex;
  flex-direction: column;
  font-family: var(--rp-ui-kit-font-family-base);

  .stripes-info {
    @include stripe-shape(var(--rp-ui-kit-sm-info-line-100), var(--rp-ui-kit-e-200));
  }

  .stripes-warning {
    @include stripe-shape(
        var(--rp-ui-kit-sm-warning-line-100),
        var(--rp-ui-kit-sm-warning-line-200)
    );
  }
  .stripes-error {
    @include stripe-shape(
        var(--rp-ui-kit-sm-error-line-100),
        var(--rp-ui-kit-sm-error-line-200)
    );
  }
  .text-container {
    padding: 12px 16px 16px;

    .message-header-info {
      @include message-headers(var(--rp-ui-kit-e-400));
    }

    .message-header-warning {
      @include message-headers(var(--rp-ui-kit-sm-warning));
    }

    .message-header-error {
      @include message-headers(var(--rp-ui-kit-sm-error));
    }

    .children {
      text-indent: 1px;
      color: var(--rp-ui-kit-color-text);
      font-weight: $fw-bold;
      @include font-scale();
    }

    p {
      margin-top: 4px;
      max-width: 780px;
      color: var(--rp-ui-kit-e-400);
      font-weight: $fw-regular;
      @include font-scale(x-small);
    }
  }
}

.content-width {
  max-width: max-content;
}
