@import 'src/assets/styles/variables/typography';
@import 'src/assets/styles/mixins/font-scale';

@mixin checked-state($color) {
  border-color: $color;
  background-color: $color;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='9' viewBox='0 0 12 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.5 4.25L4.5 7.25L10.5 0.75' stroke='white' stroke-width='2'/%3E%3C/svg%3E");
}

.checkbox {
  display: inline-flex;
  align-items: center;
  padding-left: 24px;
  color: var(--rp-ui-kit-color-text-2);
  border-color: var(--rp-ui-kit-color-text-2);
  font-family: var(--rp-ui-kit-font-family-base);
  font-weight: $fw-medium;
  @include font-scale();
  .disabled {
    opacity: var(--rp-ui-kit-opacity-default);
    pointer-events: none;
  }
}

.input {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
}

.control {
  position: absolute;
  width: 16px;
  height: 16px;
  border: 1px solid var(--rp-ui-kit-e-200);
  border-radius: 3px;
  margin-left: -24px;
  box-sizing: border-box;
  cursor: pointer;
}

.input {
  &:checked + .control {
    @include checked-state(var(--rp-ui-kit-color-primary));
  }
  &:hover + .control {
    border-color: var(--rp-ui-kit-color-gray-hover);
  }
  &:active:not(:disabled) + .control {
    border: 2px solid var(--rp-ui-kit-color-primary-focused);
  }
  &:checked:hover + .control {
    @include checked-state(var(--rp-ui-kit-color-primary-hover));
  }
  &:checked:active:not(:disabled) + .control {
    @include checked-state(var(--rp-ui-kit-color-primary-focused));
  }
  &:disabled + .control {
    border-color: var(--rp-ui-kit-color-disabled);
  }
  &:checked:disabled + .control {
    @include checked-state(var(--rp-ui-kit-color-primary));
    opacity: var(--rp-ui-kit-opacity-default);
    pointer-events: none;
  }
  &:focus + .control {
    border: 2px solid var(--rp-ui-kit-color-primary-focused);
  }
}

.children {
  cursor: pointer;

  & a {
    text-decoration: none;
    color: var(--rp-ui-kit-color-primary);
  }

  & a:focus,
  & a:focus-visible {
    outline: none;
    color: var(--rp-ui-kit-color-primary-focused);
    text-decoration: underline;
  }
}
